# OpenAI
[OPENAI]
OPENAI_API_KEY=<your-api-key>

# Auth0 FGA
[AUTH0FGA]
FGA_STORE_ID=<your-store-id>
FGA_CLIENT_ID=<your-client-id>
FGA_CLIENT_SECRET=<your-client-secret>
FGA_API_URL=https://api.xxx.fga.dev
FGA_API_TOKEN_ISSUER=auth.fga.dev
FGA_API_AUDIENCE=https://api.xxx.fga.dev/